<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="GreenPipes" version="2.1.2" targetFramework="net46" />
  <package id="MassTransit" version="5.1.5" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net46" />
  <package id="NewId" version="3.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net46" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net46" />
  <package id="SimpleInjector" version="4.1.1" targetFramework="net46" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.1.1" targetFramework="net46" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
</packages>