<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GreenPipes" version="2.1.2" targetFramework="net46" />
  <package id="MassTransit" version="5.1.5" targetFramework="net46" />
  <package id="MassTransit.SimpleInjector" version="4.0.1" targetFramework="net46" />
  <package id="NewId" version="3.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net46" />
  <package id="SimpleInjector" version="4.1.1" targetFramework="net46" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.1.1" targetFramework="net46" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Topshelf" version="4.1.0" targetFramework="net46" />
  <package id="Topshelf.SimpleInjector" version="1.0.0.17" targetFramework="net46" />
</packages>