<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <targets async="true">
    <target name="console" xsi:type="Console" />

    <target name="file" xsi:type="File" fileName="${logDirectory}\${shortdate}\${applicationName}.log"
            archiveFileName="${logDirectory}\${shortdate}\${applicationName}.{#####}.log" archiveNumbering="Sequence"
            archiveAboveSize="52428800" />
    <target name="fileIncludeException" xsi:type="FilteringWrapper" condition="length('${exception}')&gt;0">
      <target xsi:type="File"
              layout="${longdate} ${exception:format=ToString,StackTrace}${newline}"
              fileName="${logDirectory}\${shortdate}\${applicationName}.log"
              archiveFileName="${logDirectory}\${shortdate}\${applicationName}.{#####}.log" archiveNumbering="Sequence"
              archiveAboveSize="52428800" />
    </target>

    <target name="errorfile" xsi:type="FilteringWrapper" condition="length('${exception}')&gt;0">
      <target xsi:type="File"
              layout="${longdate} ${exception:format=ToString,StackTrace}${newline}"
              fileName="${logDirectory}\${shortdate}\${applicationName}_error.log"
              archiveFileName="${logDirectory}\${shortdate}\${applicationName}_error.{#####}.log"
              archiveNumbering="Sequence" archiveAboveSize="52428800" />
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>